/* Add CSS styles to make the search bars responsive */
.form-group {
    margin-bottom: 0.5rem;
  }
  
  /* Adjust the width of the search bars based on screen size */
  @media (max-width: 768px) {
    .form-group {
      margin-bottom: 0;
    }
  
    .form-group.col-md-3 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .form-group.col-md-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  